.navbar {
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: background-color .4s;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    font: 13px / 27px Roboto, Arial, sans-serif;
    padding: 2vh 2vw 0vh;
    color: rgb(51 65 85);
    border-radius: 10px;
    width: 100%;
}

.navbar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.logo {
    display: flex;
    align-items: center;
    width: 26px; 
    height: 26px;
    background: url('../../assets/logo.png') no-repeat center center;
    background-size: cover;
}

.navbar_home {
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

.navbar_list {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.nav_link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    /* padding: 1vh 2vw; */
    height: 100%;
    border-radius: 16px;
}

.nav_link:hover {
    color: rgb(14 165 233);
}

.active {
    color: rgb(14 165 233);
}


.navbar_wrapper {
    position: relative;
    padding: 2vh 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    /* height: 100%; */
}