.background-container {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top ;
    background-size: 100% 100%;
    margin: 0; 
    padding: 0; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.background-container-steg {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top ;
    background-size: 100% 100%;
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
}

.background-container-steg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: blur(33px); /* Làm mờ hình ảnh */
    z-index: 0;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.steganography-page {
    background-image: url('./assets/background.jpg');
}

.steg-image-page {
    background-image: url('./assets/background.jpg');
}

.about-page {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.contact-page {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}