@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  font-family: Inter var, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  max-height: 100vh;
}