.popup_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.popup_container{
  background-color: white;
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 50%;
  max-width: 500px;
}

.popup_title {
  /* Basic styling */
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  width: 100%;
  /* padding-bottom: 15px; */

  /* Text alignment */
  text-align: center; 
  text-transform: uppercase;

  /* Background and padding */
  background-color: #f0f0f0; 
  padding: 10px 20px; 
  border-radius: 5px; 

  /* Box shadow for depth */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.popup_title button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 10px;
}
.popup_title button:hover {
  cursor: pointer;
  opacity: 0.5;
}


.popup_content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* display: flex;
  flex-direction: column; */
}

.popup_content h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.25rem;
}

.popup_content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
}

.popup_content button {
  padding: 10px 20px;
  /* margin-right: 10px; */
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  /* margin-left: auto; */
}

.popup_content button:not(:last-child){
  margin-right: 10px;
}

.popup_content button:hover {
  background-color: #45a049;
}

.popup_content button.cancel {
  background-color: #f44336;
}

.popup_content button.cancel:hover {
  background-color: #d32f2f;
}