.container_page {
    padding: 2vw 2vw;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.steg_container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 3vh;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 5px;
}

.steg_wrapper {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.left {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: 500;
}

.image_container {
    height: 35vh;
    border: 2px solid rgba(255, 255, 255);
    border-radius: 5px;
}

.info {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    padding: 0.5vw 1.5vw;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}

.button_action_1 {
    padding: 1vw 2vw;
    border-radius: 5px;
    cursor: pointer;
    border: solid 2px;
    flex-basis: 48%;
    text-align: center;
}

.success_ {
    border: #5a9f68 solid 2px;
}

.success_:hover {
    background-color: rgba(90, 159, 104, 0.5);
}

.destroy_ {
    border: #c24a4a solid 2px;
}

.destroy_:hover {
    background-color: rgba(194, 74, 74, 0.5);
}


.right {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.small_title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
}

.header_notepad {
    display: flex;
    flex-direction: row;
}

.action_list {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.button_action_2 {
    padding: 0.5vw 2.5vw;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
}

.notepad {
    height: 60vh;
    padding: 2vw 1vw;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255);
}

.info_list {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.info_item_capacity {
    flex-basis: 30%;
    padding: 0.7vw;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.info_item_path {
    flex-basis: 70%;
    padding: 0.7vw;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.tab_container {
    margin-bottom: 0; /* Remove any bottom margin */
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
}

.tab {
    padding: 10px 20px; /* Adjusted for better spacing */
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Adjusted for better readability */
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); /* New text shadow for depth */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover and click */
}

.tab:hover, .tab.active {
    background-color: rgba(255, 255, 255, 0.5); /* Increased contrast for hover/active state */
    transform: translateY(-2px); /* Slight lift effect on hover */
}